* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #070707;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #ffffffa0;
}

.card::before, .card::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background:
     linear-gradient(45deg, #ff0000, #ffee00, #7bff00, #006eff, #7701ff);
    background-position: 100%;
    z-index: -1;
    animation: funky 3s ease linear infinite;
}

.card::after {
    filter: blur(12px);
}