.head1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #830316;
    font-weight: bold;
    }

    .head2 {
        font-size: 17px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    body {
        margin: 0 auto;
        background-position: center;
        background-size: contain;
        }

    .menu {
        position: sticky;
        top: 0;
        background-color: #698766;
        padding: 10px 0px 10px 0px;
        color: #ffffff;
        margin: 0 auto;
        overflow: hidden;
    }

    .menu a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

    .menu-log {
        right: auto;
        float: right;
    }

    footer {
        width: 100%;
        bottom: 0px;
        background-color: #000;
        color: #fff;
        position: absolute;
        padding-top: 20px;
        padding-bottom: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .body_sec {
        margin: left 20px;
    }