* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #232838;
    height: 100vh;
}

.heading {
    text-align: center;
    font-size: 2em;
    flex-basis: 10%;
    color: #c0c0c0;
    /* display: inline-block; */
    /* background-color: #ffffff5e; */
    /* box-shadow: 0 0 15px -15px #fff; */
}

.gallery {
    height: 90%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    flex-basis: 80%;
}

.img-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.active {
    flex-basis: 50%;
}

.img-box:hover {
    flex-basis: 50%;
}

.gallery:hover .active {
    flex-basis: 0;
}

.img-box:nth-child(1) {
    flex-basis: 50%;
}