* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: sans-serif;
}

.nav {
    height: 8vh;
    font-weight: 700;
    border: 2px solid;
    font-size: 1em;
    padding: 0 1.5em;
}

.nav, ul, li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul{
    width: 100%;
        gap: 2em;
}

ul li {
}

li {
    list-style: none;
    height: 2em;
    width: 2em;
}

#search-bar{
    flex-basis: 0;
    flex-grow: 2;
}

form{
        height: 80%;
        width: 100%;
}

#search{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px 0 5px 10px;
    font-size: 1.1em;
}

li span {
    display: block;
}

li svg {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.profile{
    justify-self: end;
}

.container {
    min-height: 100vh;
    columns: 3;
    gap: 1em;
    margin: 10px;
}

.media {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.media:hover .img{
    filter: brightness(50%);
}

/* show heart  */

.show-like {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
}

.show-like>.heart {
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
    display: none;
}

.show-like>.heart::before,
.show-like>.heart::after {
    background-color: red;
    display: none;
}

.liked-img.show-like>.heart,
.liked-img.show-like>.heart::before,
.liked-img.show-like>.heart::after {
    display: block;
    animation: liking 1s linear forwards;
}

@keyframes liking {
    0% {
        width: 1em;
        height: 1em;
        display: block;
        /* opacity: .4; */
    }

    50% {
        width: 2.5em;
        height: 2.5em;
        display: block;
    }

    100% {
        width: 0;
        height: 0;
        display: none;
    }
}


/* like  */

.heart {
    position: absolute;
    display: block;
    opacity: 0;
    margin-top: 20px;
    margin-right: 20px;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    transform: rotate(45deg);
}

.heart::before,
.heart::after {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
}

.liked.heart,
.liked.heart::before,
.liked.heart::after {
    background-color: red;
}

.heart::after {
    bottom: 50%;
}

.heart::before {
    right: 50%;
}

.media:hover .heart {
    opacity: 1;
}

/* bottom  */

.bottom {
    position: absolute;
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    background-color: #ffffffd7;
}

.media:hover .bottom {
    animation: show-options .2s linear forwards;
}

@keyframes show-options {
    0% {
        display: none;
        opacity: 0;
        bottom: 0;
    }

    100% {
        display: block;
        opacity: 1;
        bottom: 20px;
    }
}

/* image tittle */
.img-title {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    min-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 20px;
}

/* download and options */

.options {
    height: 3em;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 1em;
}



/* download */

.follow {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 40px;
}

.line-1,
.line-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1 {
    position: absolute;
    width: .25em;
    height: 1em;
    background-color: black;
}

.line-2 {
    position: absolute;
    width: 1em;
    height: .25em;
    background-color: #000;
}

.follow:hover>* {
    animation: follow 1s alternate infinite;
}

@keyframes follow {
    100% {
        background-color: rgb(136, 132, 132);
    }
}

/* other options */
.toggle-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    height: 100%;
    border-radius: 40px;
}

.circle {
    width: .5em;
    height: .51em;
    background-color: black;
    border-radius: 50%;
}

.toggle-options:hover .circle {
    animation: bounce 1s alternate infinite;
}

.toggle-options:hover .circle:first-child {
    animation-delay: .2s;
}

.toggle-options:hover .circle:nth-child(2) {
    animation-delay: .4s;
}

.toggle-options:hover .circle:last-child {
    animation-delay: .6s;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(80%);
    }
}

@media(max-width: 560px) {
    .container {
        columns: 2;
    }


}

@media(max-width: 360px) {
    .container {
        columns: 1;
    }


}

@media(min-width: 960px) {
    .container {
        columns: 4;
    }


}