body{
    background-color: aquamarine;
    color: black;
    font-weight: 700;
}
/* content center */
.log{
    display: grid;
    place-content: center;
    gap: 1ch;
}
label{
    margin-top: 1rem;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    margin-top: 1rem;
    display: flex;
}
h1{
    font: 700;
    font-weight: 700;
    margin: 0;
}