@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,700;1,300;1,400&display=swap');
body {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

li {
    list-style: none;
    margin: 5px 10px;
    padding: 10px 10px 50px 10px;
}

header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 0%;
}

h1 {
    font-size: 168px;
    font-weight: 700;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-section {
    text-align: center;
    margin-top: 7vh;
}

.light {
    font-weight: 100;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
footer h2{
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.option a {
    margin: 0;
    padding: 10px 5px;
}

.option {
    display: flex;
}

footer ul {
    display: flex;
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: bold;
}

.socials {
    width: 100px;
    height: 328px;
    background-color: rgb(178, 11, 255);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

.social {
    width: 100%;
    height: 33%;
}

@media only screen and (max-width: 600px) {
    .socials {
        display: none;
    }
}

.wave {
    fill: rgb(0, 0, 0);
    width: 100vw;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

a:hover {
    color: rgb(178, 11, 255);
}


/* work */

.subtitle {
    font-size: 30px;
    text-align: center;
}

.table-detail {
    width: 50%;
}

.table-detail td {
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .table-detail {
        width: 80%;
    }

    .table-detail {
        padding: 10px
    }
}



/* about */

.about-me {
    width: 50%;
    text-align: center;
}

.about-me img {
    height: 200px;
    border-radius: 50%;
    margin: 40px 10px 10px 10px;
}

.sub-page-footer {
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .sub-page-footer {
        position: relative;
    }
}

/* stack */

section h2 {
    margin: 10;
}

/* contact */

.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit form .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    font-size: 20px;
    padding: 10px;
}

.form-submit textarea {
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
    resize: none;
    font-size: 20px;
    border: none;
    padding: 10px 5px
}

.form-submit .form-control:focus,
.form-submit textarea:focus {
    outline: none;
    background-color: rgb(209, 209, 209);
}

.form-submit button {
    width: 100%;
    padding: 1%;
    font-size: 20px;
    background-color: rgb(211, 167, 252);
}

@media only screen and (max-width: 600px) {
   .form-submit {
       width: 80%;
   }
   .form-submit .form-row {
       display: flex;
       flex-direction: column;
   }
   .form-submit .form-control {
       width: 100%;
       margin-top: 5px;
   }
}

