* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    font-size: 20px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.head {
    width: 95%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid white;
    border-radius: 10px;
}

h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

img {
    width: 95%;
    height: 80%;
    box-shadow: 0 3px 15px rgb(8, 8, 8);
}

.bio {
    width: 95%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.274);
    border: 1px solid white;
    margin: 1em;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

p {
    text-align: center;
}

footer p {
    font-size: 1.1rem;
}