@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');

/* html {
    scroll-behavior: smooth;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-light: rgb(255, 255, 255);
    --border-light: rgba(0, 0, 0, 0.863);
    --font-light: rgb(0, 0, 0);
    --highlight-light: rgb(121, 117, 117);
    --hover-light: rgb(34, 41, 54);
}

body {
    font-size: 18px;
    font-weight: 500;
    background-color: var(--bg-light);
    color: var(--font-light);
    font-family: 'Elsie', 'Roboto', sans-serif;
    line-height: 1.6;
    word-spacing: 2px;
}

/* dark mode  */

body.dark-mode {
    --bg-light: rgb(0, 0, 0);
    --border-light: rgba(161, 161, 161, 0.863);
    --font-light: rgb(197, 197, 197);
    --highlight-light: rgb(161, 161, 161);
    --hover-light: rgb(145, 156, 177);
}
/* navigation bar  */

nav {
    position: fixed;
    height: 10%;
    width: 100%;
    color: var(--font-light);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: var(--highlight-light);
}

.nav-bar,
.nav-heading,
#search-form {
    display: flex;
    align-items: center;
}

.nav-bar {
    justify-content: space-between;
    padding: 0 1em;
}

.nav-heading {
    gap: 20px;
}

.logo {
    font-size: 1.6em;
    font-weight: 700;
    color: var(--primary);
}

/* all svg  */

.icons {
    display: block;
    width: 2em;
    height: 2em;
    padding: 5px;
}

.icons:hover {
    fill: var(--hover-light);
}

/* toggling btn  */
.toggle-btn {
    position: relative;
}

.toggle-btn .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* toggling dark/light mode */

.light {
    display: block;
}

.dark {
    display: none;
}

.toggle-btn.change .light {
    display: none;
}

.toggle-btn.change .dark {
    display: block;
}

/* search form  */

#search-form {
    margin-right: 1em;
}

#tv-name-search {
    height: 1.5em;
    width: 0;
    outline: 2px solid;
    visibility: hidden;
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
}

button.icons {
    background-color: transparent;
    border: none;
    height: 2.5em;
    width: 2.5em;
}


/* input animation */

#search-form:focus-within #tv-name-search {
    animation: input 1.5s linear forwards;
}

@keyframes input {
    10% {
        border: 2px solid;
        border-radius: 5em 0 0 5em;
        border-right: none;
    }

    100% {
        visibility: visible;
        width: 11em;
        background-color: var(--bg-light);
        border: 2px solid;
        border-radius: 5em 0 0 5em;

    }
}

/* search results  */
.search-result {
    position: absolute;
    top: 1.5em;
    font-size: 1em;
    width: 11em;
    background-color: var(--highlight-light);
    color: var(--bg-light);
}

.search-result li {
    list-style: none;
    border-top: 1px solid;
    padding: 4px;
    line-height: 1;
    font-style: italic;
    overflow: ellipse;
    white-space: hidden;
}

 .showList .hideList {
     display: block;
 }

 .hideList {
     display: none;
 }

 .view-more {
     color: #00f;
     text-decoration: underline;
     text-align: right;
 }

 .view-more:hover {
     color: var(--bg-light);
 }

/* user profiles  */

.user {
    width: 3em;
    height: 3em;
    padding: .5em;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

#profile {
    display: none;
    overflow: hidden;
}

/* hover on profile */

.user:hover #profile {
    position: absolute;
    top: 10vh;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 13em;
    padding: .3em .7em;
    border-radius: 10%;
    background-color: var(--highlight-light);
    box-shadow: 0 0 1em;
    animation: user-profile 1s linear forwards;
}

@keyframes user-profile {
    from {
        height: 0;
    }

    to {
        height: 17em;
    }
}

#profile li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}


a span {
    margin-left: .8em;
}

#profile li:first-child {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vw;
    min-height: 100vh;
}

/* top main tv  */

.top-tv {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1560088032-d21fe602f4bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
}

.top-tv-heading {
    height: 100%;
}

.top-title {
    font-size: 1em;
    font-weight: 700;
    border-bottom: 2px solid;
}

/* genre section */

.tv-year {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--font-light);
}

.year {
    color: var(--font-light);
    flex-basis: 1;
    font-size: 2em;
    font-weight: 700;
}

.tv-container {
    width: 95%;
    flex-basis: 1;
    flex-grow: 2;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.tv-card {
    width: 15rem;
    height: 15rem;
    background-color: var(--bg-light);
    box-shadow: 0 0 0.6rem;
}

.tv-card:hover {
    box-shadow: 0 0 1.5em;
}


.tv-img {
    height: 80%;
    width: 100%;
}

.tv-title .title {
    color: var(--font-light);
    font-size: .9em;
}

/* from kelvin powell  */

.tv-container::-webkit-scrollbar {
    height: 1em;
}

.tv-container::-webkit-scrollbar-track {
    background-color: var(--bg-light);
    border: 2px solid ;
    border-radius: 10em;
}

.tv-container::-webkit-scrollbar-thumb {
    background-color: var(--font-light);
    border-radius: 10em;
    border: 15px solid;
    border-color: var(--highlight-light);
}

.tv-container {
    scroll-snap-type: inline mandatory;
    scroll-padding: auto;
}

.tv-container>* {
    scroll-snap-align: start;
}

/* all images  */

img.img {
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
}

/* tv titles  */
section .title {
    padding: .5em;
    font-size: 1em;
    font-weight: 700;
}

/* footer */

footer {
    background-color: var(--highlight-light);
    width: 100%;
    height: 20vh;
    padding: 0 1em;
}

footer p {
    display: block;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer li {

    list-style: none;
}

li:hover {
    border: solid 1px;
}

/* mobile version  */

@media screen and (max-width: 720px) {}

@media screen and (max-width: 520px) {
    footer {
        width: 100%;
    }
}