* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot {
    width: 200px;
    height: 300px;
    border-radius: 100% 100% 0 0;
    background-color: brown;
}

.eyes {
    width: 80%;
    height: 50%;
    margin: 40px auto 20px auto;
    display: flex;
}

.eye {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 40px;
    background-color: orange;
}

.eye-ball {
    position: absolute;
    width: 40px;
    height: 40px;
    border: solid 2px black;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 1;
}
.iris {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 1;
}

.eye-lid {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    order: 100;
}

.eye-lid1 {
    display: block;
    width: 100%;
    height: 50%;
    border-radius: 100% 100% 0 0;
    border: 2px solid;
    background-color: grey;
}

.eye-lid2 {
    display: block;
    width: 100%;
    height: 50%;
    border-radius: 0 0 100% 100%;
    border: 2px solid;
    background-color: #753;
}

.mouth{
    position: relative;
    width: 100%;
    height: 30%;
}
.lips{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    border-radius: 50%;
    border: none;
    border-top: 20px solid;
}
