* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #14213d;
    --primary-color: #5D5E76;
    --secondary-color: #000;
    --secondary-light: #333F4C;
    --flash: #fff;
}

.container {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.bot {
    width: 15rem;
    height: 8rem;
    border-radius: 4em;
    background-color: var(--primary-color);
    position: relative;
}

.googles {
    width: 12em;
    height: 6em;
    border-radius: 2em;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.eye {
    margin-top: -30px;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--secondary-light);
    position: relative;
}

.iris {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouth {
    width: 3em;
    height: 1em;
    background-color: var(--secondary-light);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}