* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

form {
    width: 95%;
    padding: 1em;
    font-size: 1.4em;
    text-transform: uppercase;
}

input {
    width: 50%;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.3em 0.4em;
}

button {
    width: auto;
    font-size: 1em;
    font-weight: 700;
    padding: 0.2em;
}

.container {
    height: 100vh;
    width: 100%;
    color: black;
    cursor: pointer;
    display: grid;
    grid-template-areas:
        "source error"
        "json js";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 8fr;
}

h2 {
    padding: 1em;
}

.source span,
.error span {
    text-decoration: underline;
}

.source {
    background-color: pink;
    grid-area: source;
}

.error {
    background-color: teal;
    grid-area: error;
}

.json,
.js {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 600;
    word-break: break-all;
    word-wrap: wrap;
}

.json {
    background-color: orange;
    grid-area: json;
}

.js {
    background-color: indigo;
    grid-area: js;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.8em;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    h2 {
        flex-basis: 1;
    }

    .json {
        flex-basis: 1;
        flex-grow: 4;
    }

    .js {
        flex-basis: 1;
        flex-grow: 4;
    }
}