* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: teal;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
}

.hanger {
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1rem;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}
span{
    display: inline-block;
}
.wedge, 
.wedge2, 
.wedge3{
    position: relative;
    background-color: orange;
    height: 3em;
    width: .5em;
}

.hook1, 
.hook2, 
.hook3{
    position: absolute;
    background-color: orange;
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 8em;
    height: 1em;
    display: flex;
    justify-content: space-between;
}

.mini-hook1, 
.mini-hook2,
.mini-hook3,
.mini-hook4,
.mini-hook5,
.mini-hook6{
    position: relative;
        background-color: orange;
            height: 13em;
            width: .5em;
}

.time-card1,
.time-card2,
.time-card3,
.time-card4,
.time-card5,
.time-card6{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -25%);
    width: 3em;
    height: 5em;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 3em;
    font-weight: 700;
}