*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/files/desert.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}
.glass{
    height: 90vh;
    width: 80%;
    box-shadow: 0 0 20px 8px #ffffff63;
    background-image: url(/files/desert.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
}
nav{
    display: flex;
    padding: 30px 8%;
}
.logo{
    font: 22px;
    cursor: pointer;
    color: #fff;
}
nav ul{
    flex: 1;
    text-align: right;
    color: #fff;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
    cursor: pointer;
}
nav ul li:hover{
    border-bottom: 2px solid #fff;
}
nav ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -7px;
    transition: 0.1s ease;
    cursor: pointer;
}
img:hover{
    border: 2px solid #fff;
}
h3{
    color: #fff;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100px;
    font-size: 18px;
    letter-spacing: 1px;
}
h1{
    color: #fff;
    margin: 0px 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;

    background-image: linear-gradient(45deg, #fff, coral, #fff, coral, #fff, #000);    
    background-size: 1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;   
}
.icon{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}
.icon i{
    color: #fff;
}
.icon ul{
    flex: 1;
    text-align: right;
}
.icon ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 10px;
}
.icon ul li i{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1 all;
}
.icons ul li i:hover{
    color: coral;
}