*{
    box-sizing: border-box;
    margin: none;
    padding: none;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.container header{
    text-align: center;
    margin: 10px 0;
    display: block;
    border: 2px solid #000000;
}

.images {
    display: flex;
    max-width: 95%;
    align-items: center;
    flex-wrap: wrap;
}

.poke {
    width: 40px;
    height: 40px;
}