*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profiles {
    height: 100vh;
    display: grid;
    place-items: center;
}

span {
    display: block;
}

.creator {
    position: relative;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    transition: linear 1s;
}

.creator:hover {
    background-color: #fefefe00;
}

.img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6em;
    width: 6em;
    background-color: #919090;
    border-radius: 20px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0;
    transition: linear 2s;
}

.creator:hover .img {
    opacity: 1;
}

.items {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.creator:hover .items {
    animation: items 30s linear infinite;
}

@keyframes items {
    100% {
        transform: rotate(360deg);
    }
}


.item,
.spots {
    border-radius: 50%;
    position: absolute;
    width: 1em;
    height: 1em;
    border-width: 1px;
}

.svg-name {
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.creator:hover .svg-name {
    animation: steady 30s linear infinite;
}

@keyframes steady {
    100% {
        transform: rotate(-360deg);
    }
}

/* .creator:hover .svg-name:hover,
.creator .items:hover{
    animation-play-state: paused;
} */

.svg-name svg {
    width: 50%;
    height: 50%;
    opacity: 0;
}

.creator:hover svg {
    opacity: 1;
}

.follow {
    margin-bottom: 25%;
    background-color: red;
}

.finger-print {
    margin-bottom: 25%;
    margin-left: 25%;
    background-color: green;
}

.cocktail {
    margin-left: 25%;
    background-color: indigo;
}

.sign-out {
    margin-left: 25%;
    margin-top: 25%;
    background-color: yellow;
}

.flight {
    margin-top: 25%;
    background-color: teal;
}

.stamp {
    margin-right: 25%;
    margin-top: 25%;
    background-color: aqua;
}

.graph {
    margin-right: 25%;
    background-color: aquamarine;
}

.calender {
    margin-right: 25%;
    margin-bottom: 25%;
    background-color: brown;
}

.spot {
    width: .5rem;
    height: .5rem;
    background-color: red;
    border: none;
}

.spot1 {
    margin-top: 15%;
    margin-left: 15%;
    width: 1rem;
    height: 1rem;
    border: 5px solid;
    border-color: blue green purple brown;
}

.spot2 {
    margin-top: 15%;
    margin-right: 10%;
    width: .5rem;
    height: 2rem;
    border: 5px dashed teal;
}

.spot3 {
    margin-bottom: 14%;
    margin-left: 10%;
    width: 1rem;
    height: .5rem;
    border: 5px dashed green;

}

.creator:hover .item {
    margin: 0;
    transition: linear;
    animation: item 2s alternate infinite;
}

@keyframes item {

    0% {
        transform: scale(2.5);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(2.5);
    }
}



.creator:hover .follow {
    top: 5%;
}

.creator:hover .finger-print {
    top: 5%;
    right: 5%;
}

.creator:hover .cocktail {
    right: 5%;
}


.creator:hover .sign-out {
    top: 90%;
    right: 5%;
}

.creator:hover .flight {
    top: 90%;
}


.creator:hover .stamp {
    top: 90%;
    right: 90%;
}


.creator:hover .graph {
    right: 90%;
}


.creator:hover .calender {
    top: 5%;
    right: 90%;
}

.creator:hover .spot {
    top: 10%;
    right: 16%;
}

.creator:hover .spot1 {
    top: 3%;
    right: 55%;
}

.creator:hover .spot2 {
    top: 51%;
    right: 15%;
}

.creator:hover .spot3 {
    top: 45%;
    right: 75%;
}